.search-bar {
  border: 1px solid rgba(215, 219, 224, 1);
  border-radius: 5px;
  height: 36px;
  width: 168px;
  color: rgba(109, 104, 112, 1);
}

.search-bar-container {
  .search-bar {
    .MuiInputBase-root {
      width: auto !important;
      height: auto !important;
      .css-yz9k0d-MuiInputBase-input {
        // padding: none !important;
      }
    }
  }
}

.css-1kcggdq-MuiInputBase-root .MuiInputBase-input {
  // padding: 0px;
  // margin-left: 50px;
}
